* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* struttura */
.container {
    width: 80%;
    height: fit-content;
    margin: auto;
}

section .content {
    float:left;
    margin-top: 5px;
    margin-bottom: 5px;
}

section .central {
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 57%;
}

section .side {
    width: 20%;
}

section.maincontent>.contenttitle {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* /struttura */

/* siteheader */
header img {
    height: 70px;
}

nav {
   padding-top: 2rem;
   padding-bottom: 2rem;
}
nav>a {
    text-decoration: none;
    margin-right: 0.5rem;
}
/* siteheader */

/* sitemain */
main > .jumbotron {
    position: relative;
    color: white;
}

main img {
    border-radius: 10px;
    width: 100%;
    filter: brightness(0.8);
}
.jumbotron>div.didascalia {
    position:absolute;
    left: 3rem;
    bottom: 4rem;
    width: 50%;
}

.jumbotron>.didascalia>h4.title {
    font-weight: 400;
    font-size: 1.5rem;    
}

section.maincontent h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.central.content img {
    border-bottom: 4px solid white;
}
/* /sitemain */

/* sitefooter */
footer {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
}
/* /sitefooter */

/* colours,font */
.greytext {
    color: grey;
}
.maincontent span {
    font-size: 1rem;
}

.maincontent h6 {
    font-size: 1rem;
    font-weight: 400; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section.maincontent img {
    height: 200px;
    object-fit: cover;
    
}

span.cuore {
    color: red;
    font-size: 1.5rem;
}
/* /colours,font */

/* debug */
.debug header {
    height: 150px;
    background-color: aquamarine;
}

.debug .jumbotron {
    height:400px;
    background-color: yellow;
}

.debug section>.content {
    height: 400px;  
}

.debug footer {
    height: 100px;
    background-color: yellowgreen;
}

.debug .left, .debug .side {
    background-color: silver;
}

.debug .central {
    background-color: skyblue;
}

.debug #contenttitle {
    height: 100px;
    background-color: pink;
}

/* /debug */
